/* .wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
} */

#root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  overflow: scroll;
  background-color: rgb(140, 136, 129);
  /* margin-left: auto;
  margin-right: auto; */
  height: 100vh;
  /* width: 960px; */
}

#navbar {
  padding-top: 0px;
  background-color: #333;
  border-bottom: 15px solid orange;
  display: list-item;
}

#navbar #home {
  margin-top: 50px;
  float: right;
  color: #f2f2f2;
  padding: 20px 20px 15px;
  text-decoration: overline;
  font-size: 36px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#navbar #fave {
  margin-top: 50px;
  color: #f2f2f2;
  padding: 20px 20px 15px;
  text-decoration: overline;
  font-size: 36px;
  float: right;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#navbar #title {
  padding-top: 40px;
}

#navbar #list {
  margin-top: 50px;
  color: #f2f2f2;
  padding: 20px 20px 15px;
  text-decoration: overline;
  font-size: 36px;
  float: right;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#navbar a:hover {
  background-color: rgb(243, 213, 158);
  color: black;
}

#navbar a.active {
  background-color: orange;
  color: white;
}

#forkit {
  margin-top: 40px;
  margin-left: 20px;
  border-radius: 25%;
  outline-color: #333;
  outline-style: solid;
  outline-width: medium;
  padding: 40px 20px 20px 20px;
  width: 140px;
  height: auto;
  float: left;
}

#blurb {
  border-radius: 10px;
  float: right;   
  margin-top: 120px;
  margin-right: 60px;;
  height: auto; 
  width: auto; 
  max-width: 600px; 
  max-height: 600px;
  border-style: solid;
  border-color: orange;
}

#form {
  background-color: rgb(208, 142, 21);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#name {
  border-radius: 6px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 15px 10px 15px 20px;
  padding: 15px;
  width: 80%;
  height: 30%;
  outline-color: #333;
  outline-style: solid;
  outline-width: thin;
  border-bottom: 6px solid #aaa;
  font-size: 20px;
}

#submit {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  border-radius: 10px;
  margin: 20px 15px 15px 20px;
  padding: 15px;
  width: 50%;
  height: 30%;
  outline-color: #333;
  outline-style: solid;
  outline-width: thin;
}

.formContainer {
  position: relative;
  margin: 80px 10px 80px 2px;
  height: 100px;
  width: 70%;
  box-shadow: 15px 20px 16px #333;
  background: #333;
  padding: 15px 15px 15px 15px;
  box-sizing: border-box;
  border-radius: 10px;
  display: inline-block;
}

.card {
  position: relative;
  margin: 20px;
  box-shadow: 15px 20px 16px orange;
  background: #333;
  padding: 15px 15px 15px 15px;
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid;
  border-color: orange;
  display: inline-block;
}

#pic {
  border-radius: 10px;
  border-style: solid;
  border-color: orange;
}

li {
  list-style-type: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-self: center;
}

span {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  padding-right: 40px;
}

#list {
  padding: 10px 10px 10px 10px;
  margin-bottom: 12px;
}

#rec {
  border-radius: 10px;
  border-style: solid;
  border-color: orange;
}

h3 {
  font-weight: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: large;
  color: orange;
}

span {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.recipeDetails {
  color: orange;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
}

#ingredients {
  position:relative; 
}

#add {
  float: right;
}

button:hover {
  background-color: rgb(200, 176, 125);
  border-radius: 10px;
}

button {
  background: rgb(235, 220, 192);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  font-style: bold;
  border-style: solid;
  border-color: orange;
}

.emoji-button {
  font-size: xx-large;
  color: orange
}

.favorites {
  position: relative;
  margin: 20px;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
  display: inline-flex;
}

@media screen {
  body {
    width: 100%;
  }
}